<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .h2-style {
            color: red;
        }
    </style>
</head>
<body>
    <div>
        <h1>
            h1 text
        </h1>
        <h2 class="h2-style">
            h2 text
        </h2>
        <h6 class="h2-style">
            h6
        </h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et augue vitae orci congue viverra. 
            Quisque sodales metus vel justo consectetur, eu ultrices sapien ultricies. Phasellus mollis condimentum diam sit amet suscipit. 
            Suspendisse tempor sapien augue, et finibus massa auctor vitae. 
            Nunc id risus eget eros pellentesque sagittis non non tortor. 
            Ut ac libero tempor risus vulputate condimentum. 
            Aliquam sollicitudin diam augue, quis ultricies orci consequat sit amet. Phasellus pellentesque quam vitae urna rhoncus semper.
        </p>
        <p>
            <a href="https://www.lipsum.com/feed/html" target="_blank" >Lorem</a>
        </p> 
        <img src="https://playwright.dev/python/img/playwright-logo.svg" alt="Картинка playwright" style="width: 250px;">
        <ul>
            <li>
                item 1 
            </li>
            <li>
                item 2
            </li>
        </ul>
        <ol>
            <li>
                item 1 
            </li>
            <li>
                item 2
            </li>
        </ol>
        <p>

        </p> 
        <form action="/action" method="POST">
            <input type="text" placeholder="Введите" name="input" id="input1">
            <input type="email" name="email" id="email1" required>
            <input type="password">
            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
        <textarea name="textarea" id="textarea 1">
            Введите
        </textarea>
        <p>
            <table>
                <thead>
                    <tr>
                        <td>
                            item1
                        </td>
                        <td>
                            item2
                        </td>
                        <td>
                            item3
                        </td>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>
                            row1
                        </td>
                        <td>
                            row2
                        </td>
                        <td>
                            row3
                        </td>
                    </tr>
                </tbody>
            </table>
        </p>
        <p> 
            Вася
            <span style="color: aqua;">
                Вася
            </span>
            Вася
        </p>
        <label for=""></label>
    </div>
</body>
</html>